<section class="text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="content">
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <h3>AROUND THE WEB</h3>
          <div class="icons d-flex justify-content-center align-items-center">
            <div class="icon mx-2 d-grid">
              <i class="fa-brands fa-facebook m-auto"></i>
            </div>
            <div class="icon mx-2 d-grid">
              <i class="fa-brands fa-twitter m-auto"></i>
            </div>
            <div class="icon mx-2 d-grid">
              <i class="fa-brands fa-linkedin-in m-auto"></i>
            </div>
            <div class="icon mx-2 d-grid">
              <i class="fa-solid fa-globe m-auto"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <h3>ABOUT FREELANCER</h3>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="text-center py-3 text-white">
  <p>Copyright © Your Website 2021</p>
</footer>
