

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="content">
          <img
          src="./assets/imge task1/poert1.png"
          type="button"
          class="btn btn-info w-100 m-4"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        />
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <img
          src="./assets/imge task1/port2.png"
          type="button"
          class="btn btn-info w-100 m-4"
          data-bs-toggle="modal"
          data-bs-target="#exampleModa2"
        />
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <img
          src="./assets/imge task1/port3.png"
          type="button"
          class="btn btn-info w-100 m-4"
          data-bs-toggle="modal"
          data-bs-target="#exampleModa3"
        />
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
<img
src="./assets/imge task1/poert1.png"
type="button"
class="btn btn-info w-100 m-4"
data-bs-toggle="modal"
data-bs-target="#exampleModal"
/>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <img
          src="./assets/imge task1/port2.png"
          type="button"
          class="btn btn-info w-100 m-4"
          data-bs-toggle="modal"
          data-bs-target="#exampleModa2"
        />
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <img
          src="./assets/imge task1/port3.png"
          type="button"
          class="btn btn-info w-100 m-4"
          data-bs-toggle="modal"
          data-bs-target="#exampleModa3"
        />
        </div>
      </div>
     
    </div>
  </div>
</section>

<div
  class="modal fade "
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img src="./assets/imge task1/poert1.png" class="w-100" alt="" />
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade "
  id="exampleModa2"
  tabindex="-1"
  aria-labelledby="exampleModa2Label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="moda2-content">
      <div class="moda2-body">
        <img src="./assets/imge task1/port2.png" class="w-100" alt="" />
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade "
  id="exampleModa3"
  tabindex="-1"
  aria-labelledby="exampleModa3Label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="moda3-content">
      <div class="moda3-body">
        <img src="./assets/imge task1/port3.png" class="w-100" alt="" />
      </div>
    </div>
  </div>
</div>



